@RenderBody()
<body background="~/Content/Images/minimal-architecture-hd-wallpapers-77272-4704285.png" oncontextmenu="return false">
</body>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Overdoseflow Company Kullanıcı Girişi</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Aysegul" />

    <link rel="stylesheet" href="~/CSS/css/font-awesome.css"> 
    <link rel="stylesheet" href="~/CSS/css/style.css" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
 
</head>
<body>
   
    <div class="header-w3l">
        <h1>Overdoseflow</h1>
    </div>
  
    <div class="main-content-agile">
        <div class="sub-main-w3">
            
            <br />
            <h2>Hoşgeldiniz</h2>
            <form>
            
                <h6> </h6>
                <div class="icon1">
                    <input placeholder="Kullanıcı Adı" name="userid" type="email" >
                </div>

                <div class="icon2">
                    <input placeholder="Parola" name="passwordid" type="password" >
                </div>
                <label class="anim">
                    <input type="checkbox" class="checkbox">
                    <span>Beni Hatırla</span>
                    <a href="#">Parolamı Unuttum</a>
                </label>
                <div class="clear"></div>
                <input type="submit" value="Oturum Aç" onclick="check(this.form)">
               

            </form>
           

        </div>
    </div>
 
    <div class="footer">
        <p>&copy; 2017 | Design by Ayşegül Karahançer</p>
    </div>
   
</body>
</html>